* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    width: 100%;
    height: 80px;
    line-height: 80px;
}

.logo {
    text-align: center;
}

.logo img {
    width: calc(100% - 60%);
    object-fit: contain;
}

logo h5 {
    font-weight: 600;
    color: #212245;
    font-size: 1rem;
    margin-top: -10px;
    margin-bottom: 0;
}

.logo h5 span {
    color: #df2020 !important;
}

.menu a {
    font-weight: 600;
    color: #212245;
    font-size: 1rem;
    transition: .3s;
    
}

.menu a:hover {
    color: #df2020;
}

.active__menu {
    color: #df2020 !important;
}

.user a {
    color: #212245;
}